:root{
  font-size: 1rem;
   
  --product-card-header-bg-color: #5f5c5e;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(14, 68, 149, 0.25) !important;
  --bs-primary-rgb: red !important;
  /* Primary Color Customization */
  --bs-primary: #333334;     
  --bs-primary-rgb: 51, 51, 52;
  --text-primary: #333334;
  --text-primary-light: #fdfdfd;
  --bs-navbar-container-bg-color: #3c3c3b;    
	--bs-navbar-container-color: #fdfdfd;
	--bs-navbar-main-bg-color: #3c3c3b;
	--bs-navbar-menu-expand-bg-color: #3c3c3b;
	--bs-navbar-top-bg-color: #333334;
	--bs-navbar-top-border-color: #5b5b5d;
	--user-dropdown-bg-color: #474748;
	--bs-toast-color: #3c3c3b;
	--icon-light-color: #f8f9fa;
	--icon-light-color-hover: #f8f9fa;
	--icon-light-border-color-hover: #6b7177;
	--icon-light-bg-color-active: #994ebc;
	--icon-light-bg-color-highlight: #3af8f2;
	--icon-light-bg-color-hover: #464645;
	--main-backgound-color: #fdfdfd;
	--quick-link-text-decoration-color: #cdcdcb;
	--bs-tooltip-bg: #707070 !important;	

  
}

html {
  font-family: 'Inter Variable', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  font-family: 'DM Sans Variable', sans-serif !important;  
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;   
 
}
