body {
  margin: 0; 
  font-family: 'Poppins', sans-serif !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Poppins', sans-serif;  
}
:root{
  --product-card-header-bg-color: #5f5c5e;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(14, 68, 149, 0.25) !important;
  --bs-primary-rgb: red !important;
}
.body-container {
  padding-top: 6.6rem;
}