.header {
        background: linear-gradient(141deg, rgba(var(--color-sky-040), 0.7) -5%, rgb(var(--color-sky-020), 1) 20%, rgba(var(--color-sky-040), 0.7) 95%);
}
.glass-overlay {

    position: absolute;
    inset: 0;
    background: linear-gradient(173deg, rgba(255, 255, 255, 0.08) 0%, transparent 50%, rgba(0, 0, 0, 0.1) 100%);
    pointer-events: none;
    z-index: 2;
}
.glass-shape {
    position: absolute;
    border-radius: 100%;
}
.glass-shape-1 {
    width: 160px;
    height: 190.7px;
    top: -50px;
    right: -35px;
    background: rgba(255, 255, 255, 0.06);
}
.glass-shape-2 {
    width: 70px;
    height: 70px;
    bottom: -28px;
    left: 59%;
    background: rgba(255, 255, 255, 0.07);
}
.glass-shape-3 {
    width: 90px;
    height: 90px;
    bottom: 83px;
    left: -6%;
    background: rgba(var(--color-sky-complementary), 0.07);
}

ProductList.basic.test.js